{{ define "body" }}
	<h1> Add List</h1>
	<form method="POST" action="/submit">
		<fieldset>
			<section>
				<label for="input#name">New List's Name</label>
				<input name="title" id="title" type="text"></input>
			</section>
			<br/>
			<section>
				<label for="input#separator">Character Separating List Items</label>
				<input type="radio" name="separator" id="separator-comma" value=",">comma</input>
				<input type="radio" name="separator" id="separator-colon" value=":">colon</input>
				<input type="radio" name="separator" id="separator-space" value=" " checked>space</input>
				<input type="radio" name="separator" id="separator-dspace" value="  ">double space</input>
			</section>
			<br/>
			<section>
				<label for="input#items">Items in New List</label>
				<input name="items" id="items"></input>
			</section>
			<br/>
			<br/>
			<section>
				<input type="submit" value="Add List"></input>
			</section>
		</fieldset>
	</form>
{{ end }}
