{{ define "body" }}
	<h1>Lists</h1>

	<h2><a href="/form">click here to add a list</a></h2>

	<ul>
	{{- range .Lists }}
		<li>{{ .Id }}</li>
		<li>{{ .Title }}</li>
		<ul>
			{{- range .Items }}
				<li>{{ . }}</li>
			{{- end }}
		</ul>
		<br/>
	{{- end }}
	</ul>

	<hr/>

	<footer>
		<i>The source code for this application is</i>
		<a href="https://gitlab.com/insanitywholesale/lister">in this repository</a>
	</footer>
{{ end }}
